## Introduce the Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data mining & ML/data.csv', na_values=['#NAME?'])

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States,<=50K
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', nan,
       'Other'], dtype=object)

In [ ]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [ ]:
df['income']

0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
        ...
4995    <=50K
4996     >50K
4997     >50K
4998    <=50K
4999    <=50K
Name: income, Length: 5000, dtype: object

In [ ]:
df['income'] = [0 if x == '<=50K' else 1 for x in df['income']]

In [ ]:
df['income']

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    1
4997    1
4998    0
4999    0
Name: income, Length: 5000, dtype: int64

In [ ]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States,0
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43.0,Private,222971.0,5th-6th,3.0,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,Mexico,0
4996,31.0,Private,259425.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
4997,47.0,Self-emp-inc,212120.0,HS-grad,9.0,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,1
4998,NaN,Private,245880.0,HS-grad,9.0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,60,United-States,0
4999,58.0,Local-gov,54947.0,Some-college,10.0,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,55,United-States,0

In [ ]:
X = df.drop('income', axis='columns')
y = df.income

In [ ]:
X.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,NaN,0,0,40,United-States
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    1
4997    1
4998    0
4999    0
Name: income, Length: 5000, dtype: int64

## Basic data cleaning

In [ ]:
X.isnull().sum()

age                48
workclass           0
fnlwgt            107
education           0
education_num      57
marital_status      0
occupation          0
relationship        0
race              264
sex                47
capital_gain        0
capital_loss        0
hours_per_week      0
native_country      0
dtype: int64

In [ ]:
X['education']

0          Bachelors
1          Bachelors
2            HS-grad
3               11th
4          Bachelors
            ...
4995         5th-6th
4996         HS-grad
4997         HS-grad
4998         HS-grad
4999    Some-college
Name: education, Length: 5000, dtype: object

In [ ]:
pd.get_dummies(X['education']).head()

,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,?,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False

In [ ]:
for col_name in X.columns:
    if X[col_name].dtypes == 'object':
        unique_cat = len(X[col_name].unique())
        print(f"Feature '{col_name}' has {unique_cat} unique categories")

Feature 'workclass' has 8 unique categories
Feature 'education' has 17 unique categories
Feature 'marital_status' has 7 unique categories
Feature 'occupation' has 15 unique categories
Feature 'relationship' has 6 unique categories
Feature 'race' has 6 unique categories
Feature 'sex' has 3 unique categories
Feature 'native_country' has 40 unique categories

In [ ]:
X['native_country'].value_counts().sort_values(ascending=False)

native_country
United-States                 4465
Mexico                         104
?                               97
Canada                          28
Germany                         22
Philippines                     22
England                         16
Puerto-Rico                     16
El-Salvador                     16
China                           15
Jamaica                         15
Cuba                            14
Dominican-Republic              13
India                           12
Italy                           12
Iran                            11
Taiwan                          10
Guatemala                       10
Vietnam                         10
South                            9
Japan                            9
Poland                           9
Portugal                         7
Haiti                            6
Greece                           6
Columbia                         5
Nicaragua                        5
Ireland                          4
Cambodia                         4
Trinadad&Tobago                  4
Ecuador                          4
Honduras                         3
Outlying-US(Guam-USVI-etc)       3
Peru                             3
France                           3
Thailand                         2
Laos                             2
Yugoslavia                       2
Scotland                         1
Hong                             1
Name: count, dtype: int64

In [ ]:
X['native_country'] = ['United-States ' if x == 'United-States' else 'Other' for x in X['native_country']]

In [ ]:
X['native_country'].value_counts().sort_values(ascending=False)

native_country
United-States     4465
Other              535
Name: count, dtype: int64

In [ ]:
todummy_list = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']

In [ ]:
def dummy_df(df, todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x)
        df = df.drop(x,  axis=1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [ ]:
X = dummy_df(X, todummy_list)

In [ ]:
X.shape

(5000, 68)

In [ ]:
len(X.columns)

68

In [ ]:
X.columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week', 'workclass_?', 'workclass_Federal-gov',
       'workclass_Local-gov', 'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'education_10th', 'education_11th',
       'education_12th', 'education_1st-4th', 'education_5th-6th',
       'education_7th-8th', 'education_9th', 'education_?',
       'education_Assoc-acdm', 'education_Assoc-voc', 'education_Bachelors',
       'education_Doctorate', 'education_HS-grad', 'education_Masters',
       'education_Preschool', 'education_Prof-school',
       'education_Some-college', 'marital_status_Divorced',
       'marital_status_Married-AF-spouse', 'marital_status_Married-civ-spouse',
       'marital_status_Married-spouse-absent', 'marital_status_Never-married',
       'marital_status_Separated', 'marital_status_Widowed', 'occupation_?',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'relationship_Husband', 'relationship_Not-in-family',
       'relationship_Other-relative', 'relationship_Own-child',
       'relationship_Unmarried', 'relationship_Wife',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White', 'sex_Female', 'sex_Male',
       'native_country_Other', 'native_country_United-States '],
      dtype='object')

In [ ]:
X

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,native_country_Other,native_country_United-States
0,39.0,77516.0,13.0,2174,0,40,False,False,False,False,...,False,False,False,False,False,True,False,True,False,True
1,50.0,83311.0,13.0,0,0,13,False,False,False,False,...,False,False,False,False,False,True,False,True,False,True
2,38.0,215646.0,9.0,0,0,40,False,False,False,True,...,False,False,False,False,False,True,False,True,False,True
3,53.0,234721.0,7.0,0,0,40,False,False,False,True,...,False,False,False,True,False,False,False,False,False,True
4,28.0,338409.0,13.0,0,0,40,False,False,False,True,...,True,False,False,True,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43.0,222971.0,3.0,0,0,40,False,False,False,True,...,False,False,False,False,False,True,True,False,True,False
4996,31.0,259425.0,9.0,0,0,40,False,False,False,True,...,False,False,False,False,False,True,False,True,False,True
4997,47.0,212120.0,9.0,0,0,40,False,False,False,False,...,False,False,False,False,False,True,False,True,False,True
4998,NaN,245880.0,9.0,0,0,60,False,False,False,True,...,False,False,False,False,False,True,False,True,False,True
4999,58.0,54947.0,10.0,0,0,55,False,False,True,False,...,False,False,False,False,False,True,True,False,False,True

###  Handling missing data

In [ ]:
X.isnull().sum().sort_values(ascending=False).head()

fnlwgt           107
education_num     57
age               48
capital_gain       0
capital_loss       0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='median')

imputer.fit(X)
X = pd.DataFrame(data=imputer.transform(X) , columns=X.columns)

In [ ]:
X.isnull().sum().sort_values(ascending=False).head()

age              0
fnlwgt           0
education_num    0
capital_gain     0
capital_loss     0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = LogisticRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.781

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Feature Engineering

In [ ]:
from itertools import combinations
print(df.columns)
# print("***")
print(list(df.columns))
# print("***")
print(list(combinations(list(df.columns), 2)))

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')
['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']
[('age', 'workclass'), ('age', 'fnlwgt'), ('age', 'education'), ('age', 'education_num'), ('age', 'marital_status'), ('age', 'occupation'), ('age', 'relationship'), ('age', 'race'), ('age', 'sex'), ('age', 'capital_gain'), ('age', 'capital_loss'), ('age', 'hours_per_week'), ('age', 'native_country'), ('age', 'income'), ('workclass', 'fnlwgt'), ('workclass', 'education'), ('workclass', 'education_num'), ('workclass', 'marital_status'), ('workclass', 'occupation'), ('workclass', 'relationship'), ('workclass', 'race'), ('workclass', 'sex'), ('workclass', 'capital_gain'), ('workclass', 'capital_loss'), ('workclass', 'hours_per_week'), ('workclass', 'native_country'), ('workclass', 'income'), ('fnlwgt', 'education'), ('fnlwgt', 'education_num'), ('fnlwgt', 'marital_status'), ('fnlwgt', 'occupation'), ('fnlwgt', 'relationship'), ('fnlwgt', 'race'), ('fnlwgt', 'sex'), ('fnlwgt', 'capital_gain'), ('fnlwgt', 'capital_loss'), ('fnlwgt', 'hours_per_week'), ('fnlwgt', 'native_country'), ('fnlwgt', 'income'), ('education', 'education_num'), ('education', 'marital_status'), ('education', 'occupation'), ('education', 'relationship'), ('education', 'race'), ('education', 'sex'), ('education', 'capital_gain'), ('education', 'capital_loss'), ('education', 'hours_per_week'), ('education', 'native_country'), ('education', 'income'), ('education_num', 'marital_status'), ('education_num', 'occupation'), ('education_num', 'relationship'), ('education_num', 'race'), ('education_num', 'sex'), ('education_num', 'capital_gain'), ('education_num', 'capital_loss'), ('education_num', 'hours_per_week'), ('education_num', 'native_country'), ('education_num', 'income'), ('marital_status', 'occupation'), ('marital_status', 'relationship'), ('marital_status', 'race'), ('marital_status', 'sex'), ('marital_status', 'capital_gain'), ('marital_status', 'capital_loss'), ('marital_status', 'hours_per_week'), ('marital_status', 'native_country'), ('marital_status', 'income'), ('occupation', 'relationship'), ('occupation', 'race'), ('occupation', 'sex'), ('occupation', 'capital_gain'), ('occupation', 'capital_loss'), ('occupation', 'hours_per_week'), ('occupation', 'native_country'), ('occupation', 'income'), ('relationship', 'race'), ('relationship', 'sex'), ('relationship', 'capital_gain'), ('relationship', 'capital_loss'), ('relationship', 'hours_per_week'), ('relationship', 'native_country'), ('relationship', 'income'), ('race', 'sex'), ('race', 'capital_gain'), ('race', 'capital_loss'), ('race', 'hours_per_week'), ('race', 'native_country'), ('race', 'income'), ('sex', 'capital_gain'), ('sex', 'capital_loss'), ('sex', 'hours_per_week'), ('sex', 'native_country'), ('sex', 'income'), ('capital_gain', 'capital_loss'), ('capital_gain', 'hours_per_week'), ('capital_gain', 'native_country'), ('capital_gain', 'income'), ('capital_loss', 'hours_per_week'), ('capital_loss', 'native_country'), ('capital_loss', 'income'), ('hours_per_week', 'native_country'), ('hours_per_week', 'income'), ('native_country', 'income')]

In [ ]:
# Use PolynomialFeatures in sklearn.preprocessing to create two-way interactions for all features
from itertools import combinations
from sklearn.preprocessing import PolynomialFeatures

def add_interactions(df):
    # Get feature names
    combos = list(combinations(list(df.columns), 2))
    colnames = list(df.columns) + ['_'.join(x) for x in combos]

    # Find interactions
    poly = PolynomialFeatures(interaction_only=True, include_bias=False)
    df = poly.fit_transform(df)
    df = pd.DataFrame(df)
    df.columns = colnames

    # Remove interaction terms with all 0 values
    noint_indicies = [i for i, x in enumerate(list((df == 0).all())) if x]
    df = df.drop(df.columns[noint_indicies], axis=1)

    return df

In [ ]:
print(X.shape)

(5000, 68)

In [ ]:
New = add_interactions(X)

In [ ]:
New

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,race_Other_native_country_Other,race_Other_native_country_United-States,race_White_sex_Female,race_White_sex_Male,race_White_native_country_Other,race_White_native_country_United-States,sex_Female_native_country_Other,sex_Female_native_country_United-States,sex_Male_native_country_Other,sex_Male_native_country_United-States
0,39.0,77516.0,13.0,2174.0,0.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
1,50.0,83311.0,13.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,38.0,215646.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,53.0,234721.0,7.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28.0,338409.0,13.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,43.0,222971.0,3.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4996,31.0,259425.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4997,47.0,212120.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4998,37.0,245880.0,9.0,0.0,0.0,60.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4999,58.0,54947.0,10.0,0.0,0.0,55.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [ ]:
print(df.shape)
print(X.shape)
print(New.shape)

(5000, 15)
(5000, 68)
(5000, 1737)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(New, y, test_size=0.2, random_state=42)


model = LogisticRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.829

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=50)
X_pca = pca.fit_transform(New)
X_pca

array([[-2.84960727e+07, -1.77854217e+07, -6.15156239e+06, ...,
         2.61140354e+03, -2.58745021e+03, -2.38316033e+03],
       [-1.97015978e+08, -1.80520114e+07, -6.76300835e+06, ...,
         8.04529461e+02,  1.89493931e+03, -1.51565655e+03],
       [-1.97012625e+08, -1.79763004e+07,  1.54696563e+06, ...,
         1.25362585e+04, -1.46817679e+04, -4.94186832e+03],
       ...,
       [-1.97012218e+08, -1.79665328e+07,  2.63305357e+06, ...,
        -3.46298020e+03, -3.00275279e+02,  3.52783575e+03],
       [-1.97010537e+08, -1.79298952e+07,  6.63601055e+06, ...,
        -6.73746893e+03,  1.12384210e+00,  4.51536670e+03],
       [-1.97015692e+08, -1.80461803e+07, -6.09906833e+06, ...,
        -9.16758853e+01, -1.83230141e+03,  8.21575639e+02]])

In [ ]:
X_pca.shape

(5000, 50)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy after PCA and Logistic Regression: {accuracy}")

Accuracy after PCA and Logistic Regression: 0.804

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(